export AZURE_TENANT_ID=$(az account show --query tenantId --output tsv)
export ARM_SUBSCRIPTION_ID=$(az account show --query id --output tsv)
export TF_VAR_SECURITY_GROUP_ID=$(terraform -chdir=service_account output -raw security_group_id)
export AZURE_CLIENT_ID=$(terraform -chdir=service_account output -raw service_account_client_id)
export AZURE_CLIENT_SECRET=$(terraform -chdir=service_account output -raw service_account_client_secret)
export AZURE_FUNCTION_API_ENDPOINT=$(terraform -chdir=data_ingestion output -raw function_api_endpoint)
export AZURE_FUNCTION_API_X_KEY=$(terraform -chdir=data_ingestion output -raw function_default_x_key)
export AZURE_STORAGE_ACCOUNT_NAME=$(terraform -chdir=data_ingestion output -raw bronze_bucket_name)
export AZURE_TARGET_CONTAINER_NAME=$(terraform -chdir=data_ingestion output -raw bronze_bucket_container_name)
export AZURE_STORAGE_ACCOUNT_KEY=$(terraform -chdir=data_ingestion output -raw bronze_bucket_key)
